<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendador de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background-container"></div>
    <div class="container">
        <header>
            <div class="titulo-com-fundo">
                <div class="retangulo">
                    <img src="/static/img/image.png" alt="Imagem de fundo" class="img-fundo">
                </div>
                        
                <h1 class="sombreado text-big">Top Four You</h1>
            </div>


            <p class="text1">Digite seu nickname do Letterboxd para receber recomendações!</p>
        </header>

        <main>
            <div class="input-group">
                <input type="text" id="nickname-input" placeholder="Nickname">
                <button id="recommend-btn" class="button">Buscar Recomendações</button>
            </div>

            <div id="loading-spinner" class="hidden">
                <div class="spinner"></div>
                Gerando Recomendações...
            </div>            
            <p id="error-message" class="error-text"></p>

            <div id="avatar-container" class="avatar-container"></div>
            <div id="results-container"></div>

            <div>
                <p class="text2">Descubra também:</p>
                <div class="linha-estilizada"></div>
                <button id="button-watchlist" class="button" onclick="window.location.href='/common'">Watchlist Matcher</button>
            </div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>